asspath
.classpath
.project
.settings/
bin/
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
.DS_Store
log/
logs/
*.log
transfer.log.*
.tomcatplugin
*.iml
.idea
.mymetadata
*compressed
*.http
