asspath
.classpath
.project
.settings/
D:\\TransferLog\\auth.log
D:\\TransferLog\\transfer.log
bin/
exception.log
src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
target/
.DS_Store
log/
logs/
*.log
auth.log
billexception.log
transfer.log
*.log
transfer.log.*
.tomcatplugin
*.iml
.idea
.mymetadata
META-INF/
*compressed
*.http
